/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#999; 
    border-radius: 10px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #999; 
  }

.chatsContainer{
    border: solid 1px #F1F1F1;
    height: 800px;
    padding:15px;
    overflow: auto;
}
.msgContainer{
    border: solid 1px #F1F1F1;
    height: 850px;
    overflow: auto;
}