/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#999; 
    border-radius: 10px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #999; 
  }

.chatsContainer{
    border: solid 1px #F1F1F1;
    height: 700px;
    padding:15px;
    overflow: auto;
}
.msgContainer{
    border-bottom: solid 1px #F1F1F1;
    height: 780px;
    overflow: auto;
   box-shadow: inset 0px 11px 8px -7px #CCC,
               inset 0px -11px 8px -10px #CCC; 
}
.msgInput{
    margin-top: 15px;
    padding:5px;
}