
.sider{
  overflow: auto;
  background: #FFF;
  border-right: solid 1px #f1f1f1;
  margin-top: 2px;
  min-height: 92vh;
 
}

.sideTitle{
  padding:15px;
  background: whitesmoke;
  border-bottom:solid 1px #F1F1F1;
}
.onlineList{
  margin-left: -5px;
  font-size:16px;
}
.onlineList li{
  padding:3px;
}