
.sider{

  overflow: auto;
  background: #FFF;
  border-right: solid 1px #f1f1f1;
  margin-top: 2px;
  height: 92vh;
  
}

.sideTitle{
  padding:15px;
  background: whitesmoke;
  border-bottom:solid 1px #F1F1F1;
}
.onlineList{
  margin-left: -5px;
  font-size:16px;
  list-style: none;
}
.onlineList li::before{
  content: "\2022";
  color: green;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
  font-size:20px;
  
}
.onlineList li{
  padding:3px;
}